h5 {
    display: inline-block;
    margin-left:10px;
}
.left {
    float: left;
    height: 882px;
    width: 130px;
    background-color: blue;
    color: #fff;
    margin-right: 20px;
    text-align: center;
}
.clearfix:before,.clearfix:after { 
    content:"";
    display:table;  
  }
  .clearfix:after {
   clear:both;
  }
  .clearfix {
    *zoom:1;
  }
.right {
    float: left;
}
li {
    list-style: none;
}
.one h5,
.two h5 {
    display: block;
}
dd {
    margin-left: 0;
}